@using BlazorWasmAuthentication.Services
@inject IAuthenticationService _authService

@if (_isLoggedIn)
{
    <span>Welcome @_username <a @onclick="LogOutAsync">Logout</a></span>
}
else
{
    <NavLink href="login">Login</NavLink>
}

@code {
    private string? _username;
    private bool _isLoggedIn => _username is not null;

    protected override async Task OnInitializedAsync()
    {

        string jwt = await _authService.GetJwtAsync();

        if(jwt is not null)
        {
            _username = _authService.GetUsername(jwt);
        }

        _authService.LoginChanged += name =>
        {
            _username = name;
            StateHasChanged();
        };
    }

    private async Task LogOutAsync() => await _authService.LogOutAsync(callApi: true);
}
